    h1{
        color: rgb(0, 0, 0);
        font-family: "Bebas Neue", sans-serif;
        font-size: 35px;
        text-align: center;
} /*color, margen, estilo y alineación del h1*/

    header{
        text-align: center;
}

    #oasis-logo{
        width: 800px;
        justify-content: center;
}

    nav{
        background-color: black;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
}


    nav ul{
        display: flex;
        list-style: none;
        gap: 240px;
        justify-content: center;
}

    nav a{
        color: white;
        text-decoration: none;
}

    h2{
        color: rgb(0, 0, 0);
        margin: 25px;
        font-family: "Rock Salt", cursive;
}/*color, margen, estilo y alineación de h2*/

    main{
        text-align: center;
    }

    #el-diego{
        border: 3px dashed rgb(0, 0, 0);
        border: 8px double #ffffff; 
        width: 500px;
        height: auto;
        margin-top: 90px;
}

    #D10S{
        font-family: "Bebas Neue", sans-serif;
        margin-top: 0px;
        text-align: center;
        margin-left: 330px;
}

    .texto{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 0px;
        margin-top: 25px;
        text-size-adjust: 80px;
}

    #main-shows{
        text-align: center;
        list-style-position: inside;
}

    #galeriamain{
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .imgs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 20px;
        width: 110%;
}

    .foto{
        width: 95%;
        margin: 15px;
        border: 2px solid rgb(0, 0, 0);
}

    .foto:hover{
        transform: scale(1.1);
}

    #mapa{
        margin-top: 90px;
}

    #sectionV {
        margin-top: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%; 
        max-width: 900px;
}

    footer{
        font-family: "Bebas Neue", sans-serif;
        text-align: center;
        margin-top: 65px;
}

    footer ul{
        list-style: none;
        display: flex;
        gap: 50px;
        justify-content: center;
        margin-right: 36px;
}

    body{
        background-color: rgb(95, 95, 95);
}

    @media (min-width: 320px) and (max-width: 430px) {
        body{
            background-color: black;
        }

        nav ul {
            flex-direction: column;
            text-align: center;
        }

        img {
            width: 100%;
            height: auto;
        }

        h1{
            font-size: 1.5rem;
        }
    }