// abstracts/_variables.scss

// 🎨 Colores
$color-body-bg: rgb(95, 95, 95);
$color-text-main: #000;
$color-nav-bg: #000;
$color-nav-text: #fff;
$color-border-img: #000;
$color-footer-text: #000;
$color-card-border: #000;

// 🔤 Tipografías
$font-title: "Bebas Neue", sans-serif;
$font-subtitle: "Rock Salt", cursive;
$font-body: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

// 🔠 Tamaños de títulos
$h1-size-desktop: 35px;
$h1-size-mobile: 28px;

// 📱 Breakpoints
$bp-mobile: 430px;
$bp-tablet-min: 431px;
$bp-tablet-max: 768px;
