// base/_global.scss
@use "../abstracts/variables" as *;

body {
    margin: 0;
    background-color: $color-body-bg;
}

h1 {
    color: $color-text-main;
    font-family: $font-title;
    font-size: $h1-size-desktop;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: $color-text-main;
    margin: 25px;
    font-family: $font-subtitle;
}

.texto {
    font-family: $font-body;
    margin-top: 25px;
}

iframe {
    max-width: 100%;
}
