body{
    margin: 0;
    background-color: rgb(95, 95, 95);
}

h1{
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
}

h2{
    color: rgb(0, 0, 0);
    margin: 25px;
    font-family: "Rock Salt", cursive;
}

.texto{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 25px;
}